*{
  font-size: 100%;
  font-family: "Ubuntu";
  font-weight: normal;
}
.icon{
	width:150px;
	height:150px;
	float: right;
}
.logo{
	width:300px;
	height:100px;
	float: left;
	margin-top: 20px;
}
body{
	background: url(../img/pc.jpg) center center no-repeat fixed;
}
.titulo{
	float: center;
}

