<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html
	PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:p="http://primefaces.org/ui">
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" href="../css/style.css" />
	<title>Vendas</title>

</h:head>
<h:body>
	<!-- Abaixo está o growl, que se trata de um componente de visualização de mensagens, estilo alert -->
	<p:growl id="mensagem" />

	<!-- Abaixo esta o formulario de listagem de clientes, que inclui o data table com a listagem de todos os clientes cadastrados -->
	<h:form id="formListagem">
		<img src="../img/logo.png" class="logo" />
		<img src="../img/ninja.png" class="icon" />
		<p:panel header="Listagem de Vendas">
			<p:dataTable id="tabela" emptyMessage="Nenhum registro encontrado." paginator="true" value="#{vendaBean.vendas}"
				var="venda" rows="10">

				<!-- O COMANDO ABAIXO INCLUI UM BOTÃO NO CABEÇALHO DO DATA TABLE -->
				<f:facet name="header">
					<p:commandButton value="Novo" oncomplete="PF('dialogo').show();" actionListener="#{vendaBean.novo}"
						update=":formCadastro:painel" />
				</f:facet>

				<!-- ABAIXO SEGUEM AS COLUNAS DO DATA TABLE -->
				<p:column headerText="Data" sortBy="#{venda.data_venda}" filterBy="#{venda.data_venda}">
					<h:outputText value="#{venda.data_venda}" />
				</p:column>


				<p:column headerText="Clientes" sortBy="#{venda.cliente.nome}" filterBy="#{venda.cliente.nome}">
					<h:outputText value="#{venda.cliente.nome}" />
					<h:outputText value="-" />
					<h:outputText value="#{venda.cliente.cidade}" />
				</p:column>

				<!-- Abaixo vem a coluna referente as opções -->
				<p:column headerText="Opções">

					<!-- Abaixo vem o Botão de excluir -->
					<p:commandButton icon="ui-icon-trash" actionListener="#{vendaBean.excluir}"
						update=":mensagem :formListagem:tabela">

						<!-- confirm da tela de listagem, que é o componente para janela de confirmação-->
						<p:confirm header="Confirmação" message="Deseja excluir a venda?" icon="ui-icon-alert" />

						<!-- O comando abaixo pega o cliente selecionado na tela e envia para a classe EstadoBean -->
						<f:attribute name="vendaSelecionada" value="#{venda}" />
					</p:commandButton>

					<!-- Abaixo vem o Botão de editar -->
					<p:commandButton icon="ui-icon-pencil" actionListener="#{vendaBean.editar}" update=":formCadastro:painel"
						oncomplete="PF('dialogo').show();">

						<!-- O comando abaixo pega o cliente selecionado na tela e envia para a classe EstadoBean -->
						<f:attribute name="vendaSelecionada" value="#{venda}" />
					</p:commandButton>
				</p:column>
			</p:dataTable>

			<!-- Abaixo o componente vinculado ao confirm da tabela de listagem mencionado anteriormente -->
			<p:confirmDialog global="true">
				<p:commandButton value="Sim" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />

				<p:commandButton value="Não" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
			</p:confirmDialog>
		</p:panel>
	</h:form>

	<!-- Abaixo vem o dialog que inclui o formulario de cadastro -->
	<!-- Obs. Dialog é um componente de "pop up" -->

	<p:dialog header="Vendas - Cadastro" widgetVar="dialogo" draggable="false" resizable="false" modal="true"
		closable="false">

		<!-- Abaixo vem o formulario de cadastro, perceba que ele é composto por dois panelGrid -->

		<h:form id="formCadastro">

			<h:panelGrid id="painel" columns="2">
				<p:outputLabel value="Data:" />
				<p:inputText maxlength="50" size="30" value="#{vendaBean.venda.data_venda}" />

				<p:outputLabel for="cliente" value="Clientes:" />
				<p:selectOneMenu id="cliente" filter="true" value="#{vendaBean.venda.cliente}"
					converter="omnifaces.SelectItemsConverter">
					<f:selectItem noSelectionOption="true" itemLabel="Selecione um cliente" />
					<f:selectItems value="#{vendaBean.clientes}" var="cliente" itemValue="#{cliente}"
						itemLabel="#{cliente.nome} - #{cliente.cidade}" />

				</p:selectOneMenu>

			</h:panelGrid>

			<h:panelGrid columns="2">
				<p:commandButton value="Salvar" actionListener="#{vendaBean.salvar}"
					update=":mensagem :formCadastro:painel :formListagem:tabela" />

				<p:commandButton value="Fechar" oncomplete="PF('dialogo').hide();" />
			</h:panelGrid>

		</h:form>
	</p:dialog>

</h:body>


</html>