<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html
	PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:p="http://primefaces.org/ui">
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" href="../css/style.css" />
	<title>Produtos</title>

</h:head>
<h:body>
	<!-- Abaixo está o growl, que se trata de um componente de visualização de mensagens, estilo alert -->
	<p:growl id="mensagem" />

	<!-- Abaixo esta o formulario de listagem de fornecedores, que inclui o data table com a listagem de todos os fornecedores cadastrados -->
	<h:form id="formListagem">
		<img src="../img/logo.png" class="logo" />
		<img src="../img/ninja.png" class="icon" />
		<p:panel header="Listagem de Produtos">
			<p:dataTable id="tabela" emptyMessage="Nenhum registro encontrado." paginator="true"
				value="#{produtoBean.produtos}" var="produto" rows="10">

				<!-- O COMANDO ABAIXO INCLUI UM BOTÃO NO CABEÇALHO DO DATA TABLE -->
				<f:facet name="header">
					<p:commandButton value="Novo" oncomplete="PF('dialogo').show();" actionListener="#{produtoBean.novo}"
						update=":formCadastro:painel" />
				</f:facet>

				<!-- ABAIXO SEGUEM AS COLUNAS DO DATA TABLE -->
				<p:column headerText="Nome" sortBy="#{produto.nome}" filterBy="#{produto.nome}">
					<h:outputText value="#{produto.nome}" />
				</p:column>


				<p:column headerText="Fornecedor" sortBy="#{produto.fornecedor.nome}" filterBy="#{produto.fornecedor.nome}">
					<h:outputText value="#{produto.fornecedor.nome}" />
					<h:outputText value="-" />
					<h:outputText value="#{produto.fornecedor.cidade}" />
				</p:column>

				<!-- Abaixo vem a coluna referente as opções -->
				<p:column headerText="Opções">

					<!-- Abaixo vem o Botão de excluir -->
					<p:commandButton icon="ui-icon-trash" actionListener="#{produtoBean.excluir}"
						update=":mensagem :formListagem:tabela">

						<!-- confirm da tela de listagem, que é o componente para janela de confirmação-->
						<p:confirm header="Confirmação" message="Deseja excluir a produto?" icon="ui-icon-alert" />

						<!-- O comando abaixo pega o fornecedor selecionado na tela e envia para a classe EstadoBean -->
						<f:attribute name="produtoSelecionada" value="#{produto}" />
					</p:commandButton>

					<!-- Abaixo vem o Botão de editar -->
					<p:commandButton icon="ui-icon-pencil" actionListener="#{produtoBean.editar}" update=":formCadastro:painel"
						oncomplete="PF('dialogo').show();">

						<!-- O comando abaixo pega o fornecedor selecionado na tela e envia para a classe EstadoBean -->
						<f:attribute name="produtoSelecionada" value="#{produto}" />
					</p:commandButton>
				</p:column>
			</p:dataTable>

			<!-- Abaixo o componente vinculado ao confirm da tabela de listagem mencionado anteriormente -->
			<p:confirmDialog global="true">
				<p:commandButton value="Sim" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />

				<p:commandButton value="Não" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
			</p:confirmDialog>
		</p:panel>
	</h:form>

	<!-- Abaixo vem o dialog que inclui o formulario de cadastro -->
	<!-- Obs. Dialog é um componente de "pop up" -->

	<p:dialog header="Produtos - Cadastro" widgetVar="dialogo" draggable="false" resizable="false" modal="true"
		closable="false">

		<!-- Abaixo vem o formulario de cadastro, perceba que ele é composto por dois panelGrid -->

		<h:form id="formCadastro">

			<h:panelGrid id="painel" columns="2">
				<p:outputLabel value="Nome:" />
				<p:inputText maxlength="50" size="30" value="#{produtoBean.produto.nome}" />

				<p:outputLabel for="fornecedor" value="Fornecedor:" />
				<p:selectOneMenu id="fornecedor" filter="true" value="#{produtoBean.produto.fornecedor}"
					converter="omnifaces.SelectItemsConverter">
					<f:selectItem noSelectionOption="true" itemLabel="Selecione um fornecedor" />
					<f:selectItems value="#{produtoBean.fornecedores}" var="fornecedor" itemValue="#{fornecedor}"
						itemLabel="#{fornecedor.nome} - #{fornecedor.cidade}" />

				</p:selectOneMenu>

			</h:panelGrid>

			<h:panelGrid columns="2">
				<p:commandButton value="Salvar" actionListener="#{produtoBean.salvar}"
					update=":mensagem :formCadastro:painel :formListagem:tabela" />

				<p:commandButton value="Fechar" oncomplete="PF('dialogo').hide();" />
			</h:panelGrid>

		</h:form>
	</p:dialog>

</h:body>


</html>