<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html
	PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:p="http://primefaces.org/ui">
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" href="../css/style.css" />
	<title>Fornecedores</title>

</h:head>
<h:body>
	<!-- Abaixo está o growl, que se trata de um componente de visualização de mensagens, estilo alert -->
	<p:growl id="mensagem" />

	<!-- Abaixo esta o formulario de listagem de fornecedores, que inclui o data table com a listagem de todos os fornecedores cadastrados -->
	<h:form id="formListagem">
		<img src="../img/logo.png" class="logo" />
		<img src="../img/ninja.png" class="icon" />
		<p:panel header="Listagem de Fornecedores">
			<p:dataTable id="tabela" emptyMessage="Nenhum registro encontrado." paginator="true"
				value="#{fornecedorBean.fornecedores}" var="fornecedor" rows="10">

				<!-- O COMANDO ABAIXO INCLUI UM BOTÃO NO CABEÇALHO DO DATA TABLE -->
				<f:facet name="header">
					<p:commandButton value="Novo" oncomplete="PF('dialogo').show();" actionListener="#{fornecedorBean.novo}"
						update=":formCadastro:painel" />
				</f:facet>

				<!-- ABAIXO SEGUEM AS COLUNAS DO DATA TABLE -->
				<p:column headerText="Nome" sortBy="#{fornecedor.nome}" filterBy="#{fornecedor.nome}">
					<h:outputText value="#{fornecedor.nome}" />
				</p:column>

				<p:column headerText="Endereço" sortBy="#{fornecedor.endereco}" filterBy="#{fornecedor.endereco}">
					<h:outputText value="#{fornecedor.endereco}" />
				</p:column>

				<p:column headerText="Bairro" sortBy="#{fornecedor.bairro}" filterBy="#{fornecedor.bairro}">
					<h:outputText value="#{fornecedor.bairro}" />
				</p:column>

				<p:column headerText="Cidade" sortBy="#{fornecedor.cidade}" filterBy="#{fornecedor.cidade}">
					<h:outputText value="#{fornecedor.cidade}" />
				</p:column>

				<p:column headerText="UF" sortBy="#{fornecedor.uf}" filterBy="#{fornecedor.uf}">
					<h:outputText value="#{fornecedor.uf}" />
				</p:column>

				<p:column headerText="CEP" sortBy="#{fornecedor.cep}" filterBy="#{fornecedor.cep}">
					<h:outputText value="#{fornecedor.cep}" />
				</p:column>

				<p:column headerText="Telefone" sortBy="#{fornecedor.telefone}" filterBy="#{fornecedor.telefone}">
					<h:outputText value="#{fornecedor.telefone}" />
				</p:column>

				<!-- Abaixo vem a coluna referente as opções -->
				<p:column headerText="Opções">

					<!-- Abaixo vem o Botão de excluir -->
					<p:commandButton icon="ui-icon-trash" actionListener="#{fornecedorBean.excluir}"
						update=":mensagem :formListagem:tabela">

						<!-- confirm da tela de listagem, que é o componente para janela de confirmação-->
						<p:confirm header="Confirmação" message="Deseja excluir o fornecedor?" icon="ui-icon-alert" />

						<!-- O comando abaixo pega o estado selecionado na tela e envia para a classe EstadoBean -->
						<f:attribute name="fornecedorSelecionado" value="#{fornecedor}" />
					</p:commandButton>

					<!-- Abaixo vem o Botão de editar -->
					<p:commandButton icon="ui-icon-pencil" actionListener="#{fornecedorBean.editar}" update=":formCadastro:painel"
						oncomplete="PF('dialogo').show();">

						<!-- O comando abaixo pega o estado selecionado na tela e envia para a classe EstadoBean -->
						<f:attribute name="fornecedorSelecionado" value="#{fornecedor}" />
					</p:commandButton>
				</p:column>
			</p:dataTable>

			<!-- Abaixo o componente vinculado ao confirm da tabela de listagem mencionado anteriormente -->
			<p:confirmDialog global="true">
				<p:commandButton value="Sim" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />

				<p:commandButton value="Não" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
			</p:confirmDialog>
		</p:panel>
	</h:form>

	<!-- Abaixo vem o dialog que inclui o formulario de cadastro -->
	<!-- Obs. Dialog é um componente de "pop up" -->

	<p:dialog header="Fornecedores - Cadastro" widgetVar="dialogo" draggable="false" resizable="false" modal="true"
		closable="false">

		<!-- Abaixo vem o formulario de cadastro, perceba que ele é composto por dois panelGrid -->

		<h:form id="formCadastro">

			<h:panelGrid id="painel" columns="2">
				<p:outputLabel value="Nome:" />
				<p:inputText maxlength="50" size="30" value="#{fornecedorBean.fornecedor.nome}" />

				<p:outputLabel value="Endereço:" />
				<p:inputText maxlength="50" size="30" value="#{fornecedorBean.fornecedor.endereco}" />

				<p:outputLabel value="Bairro:" />
				<p:inputText maxlength="50" size="30" value="#{fornecedorBean.fornecedor.bairro}" />

				<p:outputLabel value="Cidade:" />
				<p:inputText maxlength="50" size="30" value="#{fornecedorBean.fornecedor.cidade}" />

				<p:outputLabel value="UF:" />
				<p:inputText maxlength="50" size="30" value="#{fornecedorBean.fornecedor.uf}" />

				<p:outputLabel value="CEP:" />
				<p:inputText maxlength="50" size="30" value="#{fornecedorBean.fornecedor.cep}" />

				<p:outputLabel value="Telefone:" />
				<p:inputText maxlength="50" size="30" value="#{fornecedorBean.fornecedor.telefone}" />

			</h:panelGrid>

			<h:panelGrid columns="2">
				<p:commandButton value="Salvar" actionListener="#{fornecedorBean.salvar}"
					update=":mensagem :formCadastro:painel :formListagem:tabela" />
				<p:commandButton value="Fechar" oncomplete="PF('dialogo').hide();" />
			</h:panelGrid>
		</h:form>
	</p:dialog>
</h:body>

</html>