<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html
	PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:p="http://primefaces.org/ui">
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" href="../css/style.css" />
	<title>Clientes</title>

</h:head>
<h:body>
	<!-- Abaixo está o growl, que se trata de um componente de visualização de mensagens, estilo alert -->
	<p:growl id="mensagem" />

	<!-- Abaixo esta o formulario de listagem de clientes, que inclui o data table com a listagem de todos os clientes cadastrados -->
	<h:form id="formListagem">
		<img src="../img/logo.png" class="logo" />
		<img src="../img/ninja.png" class="icon" />
		<p:panel header="Listagem de Clientes">
			<p:dataTable id="tabela" emptyMessage="Nenhum registro encontrado." paginator="true"
				value="#{clienteBean.clientes}" var="cliente" rows="10">

				<!-- O COMANDO ABAIXO INCLUI UM BOTÃO NO CABEÇALHO DO DATA TABLE -->
				<f:facet name="header">
					<p:commandButton value="Novo" oncomplete="PF('dialogo').show();" actionListener="#{clienteBean.novo}"
						update=":formCadastro:painel" />
				</f:facet>

				<!-- ABAIXO SEGUEM AS COLUNAS DO DATA TABLE -->
				<p:column headerText="Nome" sortBy="#{cliente.nome}" filterBy="#{cliente.nome}">
					<h:outputText value="#{cliente.nome}" />
				</p:column>

				<p:column headerText="Endereço" sortBy="#{cliente.endereco}" filterBy="#{cliente.endereco}">
					<h:outputText value="#{cliente.endereco}" />
				</p:column>

				<p:column headerText="Bairro" sortBy="#{cliente.bairro}" filterBy="#{cliente.bairro}">
					<h:outputText value="#{cliente.bairro}" />
				</p:column>

				<p:column headerText="Cidade" sortBy="#{cliente.cidade}" filterBy="#{cliente.cidade}">
					<h:outputText value="#{cliente.cidade}" />
				</p:column>

				<p:column headerText="UF" sortBy="#{cliente.uf}" filterBy="#{cliente.uf}">
					<h:outputText value="#{cliente.uf}" />
				</p:column>

				<p:column headerText="CEP" sortBy="#{cliente.cep}" filterBy="#{cliente.cep}">
					<h:outputText value="#{cliente.cep}" />
				</p:column>

				<p:column headerText="Telefone" sortBy="#{cliente.telefone}" filterBy="#{cliente.telefone}">
					<h:outputText value="#{cliente.telefone}" />
				</p:column>

				<p:column headerText="CPF" sortBy="#{cliente.cpf}" filterBy="#{cliente.cpf}">
					<h:outputText value="#{cliente.cpf}" />
				</p:column>

				<p:column headerText="RG" sortBy="#{cliente.rg}" filterBy="#{cliente.rg}">
					<h:outputText value="#{cliente.rg}" />
				</p:column>

				<!-- Abaixo vem a coluna referente as opções -->
				<p:column headerText="Opções">

					<!-- Abaixo vem o Botão de excluir -->
					<p:commandButton icon="ui-icon-trash" actionListener="#{clienteBean.excluir}"
						update=":mensagem :formListagem:tabela">

						<!-- confirm da tela de listagem, que é o componente para janela de confirmação-->
						<p:confirm header="Confirmação" message="Deseja excluir o cliente?" icon="ui-icon-alert" />

						<!-- O comando abaixo pega o estado selecionado na tela e envia para a classe EstadoBean -->
						<f:attribute name="clienteSelecionado" value="#{cliente}" />
					</p:commandButton>

					<!-- Abaixo vem o Botão de editar -->
					<p:commandButton icon="ui-icon-pencil" actionListener="#{clienteBean.editar}" update=":formCadastro:painel"
						oncomplete="PF('dialogo').show();">

						<!-- O comando abaixo pega o estado selecionado na tela e envia para a classe EstadoBean -->
						<f:attribute name="clienteSelecionado" value="#{cliente}" />
					</p:commandButton>
				</p:column>
			</p:dataTable>

			<!-- Abaixo o componente vinculado ao confirm da tabela de listagem mencionado anteriormente -->
			<p:confirmDialog global="true">
				<p:commandButton value="Sim" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />

				<p:commandButton value="Não" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
			</p:confirmDialog>
		</p:panel>
	</h:form>

	<!-- Abaixo vem o dialog que inclui o formulario de cadastro -->
	<!-- Obs. Dialog é um componente de "pop up" -->

	<p:dialog header="Cliente - Cadastro" widgetVar="dialogo" draggable="false" resizable="false" modal="true"
		closable="false">

		<!-- Abaixo vem o formulario de cadastro, perceba que ele é composto por dois panelGrid -->

		<h:form id="formCadastro">

			<h:panelGrid id="painel" columns="2">
				<p:outputLabel value="Nome:" />
				<p:inputText maxlength="50" size="30" value="#{clienteBean.cliente.nome}" />

				<p:outputLabel value="Endereço:" />
				<p:inputText maxlength="50" size="30" value="#{clienteBean.cliente.endereco}" />

				<p:outputLabel value="Bairro:" />
				<p:inputText maxlength="50" size="30" value="#{clienteBean.cliente.bairro}" />

				<p:outputLabel value="Cidade:" />
				<p:inputText maxlength="50" size="30" value="#{clienteBean.cliente.cidade}" />

				<p:outputLabel value="UF:" />
				<p:inputText maxlength="50" size="30" value="#{clienteBean.cliente.uf}" />

				<p:outputLabel value="CEP:" />
				<p:inputText maxlength="50" size="30" value="#{clienteBean.cliente.cep}" />

				<p:outputLabel value="Telefone:" />
				<p:inputText maxlength="50" size="30" value="#{clienteBean.cliente.telefone}" />

				<p:outputLabel value="CPF:" />
				<p:inputText maxlength="50" size="30" value="#{clienteBean.cliente.cpf}" />

				<p:outputLabel value="RG:" />
				<p:inputText maxlength="50" size="30" value="#{clienteBean.cliente.rg}" />

			</h:panelGrid>

			<h:panelGrid columns="2">
				<p:commandButton value="Salvar" actionListener="#{clienteBean.salvar}"
					update=":mensagem :formCadastro:painel :formListagem:tabela" />
				<p:commandButton value="Fechar" oncomplete="PF('dialogo').hide();" />
			</h:panelGrid>
		</h:form>
	</p:dialog>
</h:body>

</html>